* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flag-container {
    position: relative;
    width: 280px;
    height: 180px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

.flag-container:hover {
    transform: scale(1.05);
}

.flag-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.flag-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.518);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
    border: 1px solid #1b9bee;
}

.flag-container:hover .flag-overlay {
    opacity: 1;
}